* {
    font-family: "Arial";
}

html, body {
    margin: 0px;
}

body {
    background-image: url("../images/background.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}

#layout {
    width: 70%;
    margin: 0 auto 0 auto;
}

h1 {
    text-align: center;
    color: #ffffff;
    background-color: #0c7d52;
    padding: 10px;
    border-radius: 10px;
}

#main_info,
#education,
#projects,
#project,
#work_experience,
#send_email,
#back {
    margin-bottom: 10px;
    padding: 10px;
    border: 5px solid #0c7d52;
    border-radius: 10px;
}

h2, h3 {
    color: #0c7d52;
}

#education .substrate,
#work_experience .substrate {
    margin-bottom: 10px;
    padding: 10px 10px 1px 10px;
    background-color: rgba(12, 125, 82, 0.2);
    border-radius: 10px;
}

#education .substrate div,
#work_experience .substrate div {
    font-size: 20px;
    margin-bottom: 10px;
}

#education span,
#work_experience span {
    color: #0c7d52;
}

#projects .container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#projects .substrate {
    width: 65%;
    padding: 10px;
    background-color: rgba(12, 125, 82, 0.2);
    border-radius: 10px;
}

#left,
#right {
    cursor: pointer;
    font-size: 50px;
    color: #0c7d52;
}

#projects img {
    width: 50%;
    margin-bottom: 10px;
}

#projects .substrate div {
    text-align: center;
}

#project img {
    display: block;
    width: 80%;
    margin: 0 auto 10px auto;
}

#project div {
    font-size: 20px;
    margin-bottom: 10px;
}

#project a {
    word-wrap: break-word;
    color: #0c7d52;
}

button,
input {
    cursor: pointer;
    font-size: 16px;
    padding: 10px;
    background-color: #0c7d52;
    color: #ffffff;
    border: none;
    border-radius: 10px;
}

label {
    font-size: 20px;
}

textarea {
    resize: none;
    box-sizing: border-box;
    width: 100%;
    height: 200px;
    margin: 10px 0 10px 0;
    border: 3px solid #0c7d52;
    border-radius: 10px;
    outline: none;
}

form div {
    text-align: right;
}

footer {
    font-size: 12px;
    text-align: center;
}

footer a {
    color: #0c7d52;
}
