* {
    font-family: "Arial";
}

body {
    background-image: url("../images/background.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}

#layout {
    width: 70%;
    margin: 0 auto 0 auto;
}

h1 {
    text-align: center;
    margin-bottom: 10px;
    background-color: #167f19;
    color: #ffffff;
    border-radius: 10px;
    padding: 10px;
}

#main_info,
#education,
#projects,
#work_experience,
#send_email {
    margin-bottom: 10px;
    border: 5px solid #167f19;
    border-radius: 10px;
    padding: 10px;
}

h2, h3 {
    color: #167f19;
}

#education .substrate,
#work_experience .substrate {
    margin-bottom: 10px;
    background-color: rgba(22, 127, 25, 0.2);
    border-radius: 10px;
    padding: 10px 10px 1px 10px;
}

#education .substrate div,
#work_experience .substrate div,
#send_email #send_email_text {
    font-size: 20px;
    margin-bottom: 10px;
}

#education span,
#work_experience span {
    color: #167f19;
}

#projects .container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#projects .substrate {
    width: 65%;
    background-color: rgba(22, 127, 25, 0.2);
    border-radius: 10px;
    padding: 10px;
}

#left,
#right {
    cursor: pointer;
    font-size: 50px;
    color: #167f19;
}

#projects img {
    width: 100%;
    margin-bottom: 10px;
}

#projects .substrate div {
    text-align: center;
    margin-bottom: 10px;
}

#projects .substrate a {
    text-decoration: none;
    background-color: #167f19;
    color: #ffffff;
    border-radius: 10px;
    padding: 5px;
}

#send_email textarea {
    resize: none;
    box-sizing: border-box;
    width: 100%;
    height: 200px;
    outline: none;
    margin-bottom: 10px;
    border: 3px solid #167f19;
    border-radius: 10px;
}

#input {
    text-align: right;
}

#send_email input {
    cursor: pointer;
    font-size: 16px;
    background-color: #167f19;
    color: #ffffff;
    border: none;
    border-radius: 10px;
    padding: 10px;
}

footer {
    font-size: 12px;
    text-align: center;
}
