{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Резюме</title>
    <link rel="stylesheet" href="{% static 'mainapp/css/index.css' %}">
    <link rel="stylesheet" href="{% static 'mainapp/css/main_info.css' %}">
    <script src="https://code.jquery.com/jquery-3.6.3.js" integrity="sha256-nQLuAZGRRcILA+6dMBOvcRh5Pe310sBpanc6+QBmyVM=" crossorigin="anonymous"></script>
    <script src="{% static 'mainapp/js/index.js' %}"></script>
</head>
<body>
    <div id="layout">
        {% block content %}
        {% endblock %}
        <footer><a href="https://ru.freepik.com/free-photo/globe-technology-business-with-gradient-wallpaper_13312403.htm#query=%D1%84%D0%BE%D0%BD%20%D0%B4%D0%BB%D1%8F%20it%20%D1%81%D0%B0%D0%B9%D1%82%D0%B0&position=9&from_view=search&track=ais">Изображение от rawpixel.com</a> на Freepik</footer>
    </div>
</body>
</html>