{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Резюме</title>
    <link rel="stylesheet" href="{% static 'mainapp/css/index.css' %}">
    <link rel="stylesheet" href="{% static 'mainapp/css/main_info.css' %}">
    <script src="https://code.jquery.com/jquery-3.6.3.js" integrity="sha256-nQLuAZGRRcILA+6dMBOvcRh5Pe310sBpanc6+QBmyVM=" crossorigin="anonymous"></script>
</head>
<body>
    <div id="layout">
        {% block content %}
        {% endblock %}
        <footer><a href="https://ru.freepik.com/free-vector/globe-digital-business-gradient-background_14925743.htm#page=7&query=it&position=27&from_view=search&track=robertav1_2_sidr">Изображение от rawpixel.com</a> на Freepik</footer>
    </div>
</body>
</html>