<h2>Основная информация</h2>
<div id="main_info_container_1" class="container">
    <div>
        <img src="{{ main_info.photo.url }}">
    </div>
    <div>
        <div><span><b>Профессия: </b></span>{{ main_info.profession }}</div>
        <div><span><b>ФИО: </b></span>{{ main_info.fio }}</div>
        <div><span><b>Дата рождения: </b></span>{{ main_info.birthday|date:"d.m.Y" }}</div>
        <div><span><b>Гражданство: </b></span>{{ main_info.country }}</div>
        <div><span><b>Город: </b></span>{{ main_info.city }}</div>
        <div><span><b>Семейное положение: </b></span>
            {% if main_info.marital_status %}
                Женат
            {% else %}
                Не женат
            {% endif %}
        </div>
        <div><span><b>Занятость: </b></span>{{ main_info.busyness }}</div>
    </div>
</div>
<div id="main_info_container_2" class="container">
    <div class="flex">
        <div><b>Знания</b></div>
        <ul>
            {% for knowledge in knowledge %}
                <li><span>{{ knowledge.knowledge }}</span></li>
            {% endfor %}
        </ul>
    </div>
    <div class="flex">
        <div><b>Иностранные языки</b></div>
        <ul>
            {% for language in languages %}
                <li><span>{{ language.language }}</span></li>
            {% endfor %}
        </ul>
    </div>
</div>
<div id="main_info_container_3" class="container">
    <div class="flex">
        <div><b>Личные качества</b></div>
        <ul>
            {% for quality in qualities %}
                <li><span>{{ quality.quality }}</span></li>
            {% endfor %}
        </ul>
    </div>
    <div class="flex">
        <div><b>Контакты</b></div>
        {% for contact in contacts %}
            <div><span><b>{{ contact.contact }}: </b></span>{{ contact.value }}</div>
        {% endfor %}
    </div>
</div>