{% extends 'mainapp/index.html' %}

{% block content %}
    {% if main_info %}
        <h1>Резюме</h1>
        <div id="main_info">
            {% include 'mainapp/main_info.html' %}
        </div>
        <div id="education">
            <h2>Образование</h2>
            {% for education in education %}
                <div class="substrate">
                    <div><span><b>Учебное заведение: </b></span>{{ education.institution }}</div>
                    <div><span><b>Образование: </b></span>{{ education.education }}</div>
                    <div><span><b>Специальность: </b></span>{{ education.profession }}</div>
                    <div><span><b>Год окончания: </b></span>{{ education.finish_date|date:"Y" }} год</div>
                </div>
            {% endfor %}
        </div>
        <div id="projects">
            <h2>Проекты</h2>
            <div class="container">
                <div id="left">⮜</div>
                {% for project in projects %}
                    <div class="substrate">
                        <h3>{{ project.project }}</h3>
                        <div><img src="{{ project.image.url }}"></div>
                        <div><a href="{{ project.get_absolute_url }}"><button>Подробнее</button></a></div>
                    </div>
                {% endfor %}
                <div id="right">⮞</div>
            </div>
        </div>
        <div id="work_experience">
            <h2>Опыт работы</h2>
            {% for work_experience in work_experience %}
                <div class="substrate">
                    <div><span><b>Профессия: </b></span>{{ work_experience.position }}</div>
                    <div><span><b>Компания: </b></span>{{ work_experience.company }}</div>
                    <div><span><b>Дата устройства: </b></span>{{ work_experience.set_up|date:"m.Y" }}</div>
                    <div><span><b>Дата увольнения: </b></span>{{ work_experience.quit|date:"m.Y" }}</div>
                    <div><span><b>Обязанности: </b></span>{{ work_experience.responsibility }}</div>
                </div>
            {% endfor %}
        </div>
        <div id="send_email">
            <h2>Обратная связь</h2>
            <form method="POST" action="{% url 'send_email' %}">
                {% csrf_token %}
                <div>{{ email_form.label_tag }}</div>
                {{ email_form }}
                <div><input type="submit" value="Отправить"></div>
            </form>
        </div>
    {% else %}
        <h1>Активных резюме нет</h1>
    {% endif %}
{% endblock %}