{% extends 'mainapp/index.html' %}
{% load static %}
{% block content %}
    {% if main_info %}
        <h1>Резюме</h1>
        <div id="main_info" class="block">
            {% include 'mainapp/main_info.html' %}
        </div>
        <div id="education" class="block">
            <h2>Образование</h2>
            {% for education in education %}
                <div class="substrate">
                    <div><span><b>Учебное заведение: </b></span>{{ education.institution }}</div>
                    <div><span><b>Образование: </b></span>{{ education.education }}</div>
                    <div><span><b>Специальность: </b></span>{{ education.profession }}</div>
                    <div><span><b>Год окончания: </b></span>{{ education.finish_date|date:"Y" }} год</div>
                </div>
            {% endfor %}
        </div>
        <div id="projects" class="block">
            <h2>Проекты</h2>
            <div class="container">
                <div id="left">⮜</div>
                <div class="substrate">
                    <h3>{{ projects.project }}</h3>
                    <div><img src="{{ projects.image.url }}"></div>
                    <div><a href="{{ projects.get_absolute_url }}"><button>Подробнее</button></a></div>
                </div>
                <div id="right">⮞</div>
            </div>
            <script>
                var count_projects = {{ count_projects }}
                var projects_slider_url = {% url 'projects_slider' %}
            </script>
            <script src="{% static 'mainapp/js/projects_slider.js' %}"></script>
        </div>
        <div id="work_experience" class="block">
            <h2>Опыт работы</h2>
            {% for work_experience in work_experience %}
                <div class="substrate">
                    <div><span><b>Профессия: </b></span>{{ work_experience.position }}</div>
                    <div><span><b>Компания: </b></span>{{ work_experience.company }}</div>
                    <div><span><b>Дата устройства: </b></span>{{ work_experience.set_up|date:"m.Y" }}</div>
                    <div><span><b>Дата увольнения: </b></span>{{ work_experience.quit|date:"m.Y" }}</div>
                    <div><span><b>Обязанности: </b></span>{{ work_experience.responsibility }}</div>
                </div>
            {% endfor %}
        </div>
        <div id="send_email" class="block">
            <h2>Обратная связь</h2>
            <form id="send_email_form">
                {% csrf_token %}
                {{ email_form.label_tag }}
                {{ email_form }}
                <div><input type="submit" value="Отправить"></div>
            </form>
            <script> var send_email_url = {% url 'send_email' %}</script>
            <script src="{% static 'mainapp/js/send_email.js' %}"></script>
        </div>
    {% else %}
        <h1>Активных резюме нет</h1>
    {% endif %}
{% endblock %}